img{
    width: 100%;
    height: 600px;

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.not{
    font-size: 60px;
    text-align: center;
    color: gray;
}
@media (max-width:600px)
{
   img{ width: 100%;
    height: 500px;
    
}
}